<div class="w-100 h-full py-10 font-mono text-sm justify-center flex  dark:bg-slate-950 dark:text-white">
  <div class=" w-96">
    <h2 class="text-center text-gray-400 my-2">Password Generator</h2>
    <div class="relative">
      <input type="text" value="{{ generatedPassword }}"
        class=" p-2 mb-3 bg-zinc-700 w-full progress slider" id="myRange">
        <img (click)="copyToClipboard()" src="assets/images/copy-icon.png" alt="" width="15" class="text-white right-2.5 top-2.5 absolute cursor-pointer" title="click to copy">
    </div>
    <div class="bg-zinc-700 p-3">
      <div class="mb-2">
        <div class="flex justify-between mb-2 items-center"><label>Character Length</label><span class="text-lime-400 text-lg">{{ passwordLength }}</span></div>
        <input type="range" [(ngModel)]="passwordLength" width="100%" min="4"
          max="20" class="w-full" />
      </div>

      <div>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="includeUppercase" /> Include
          Uppercase Letters
          <span class="checkmark"></span>
        </label>
      </div>

      <div>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="includeLowercase" /> Include
          Lowercase Letters
          <span class="checkmark"></span>
        </label>
      </div>

      <div>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="includeNumbers" checked /> Include
          Numbers
          <span class="checkmark"></span>
        </label>
      </div>

      <div>
        <label class="checkbox-container">
          <input type="checkbox" [(ngModel)]="includeSymbols" /> Include Symbols
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="flex align-middle p-2 my-2 uppercase justify-between dark:bg-slate-950 dark:text-white">
        <div class="text-slate-400">
          strength
        </div>
        <div class="flex align-middle place-content-center" *ngIf="strength">
          <ng-container >
            <span *ngIf="strength == 'veryweak'; else elseTemp">very weak</span>
            <ng-template #elseTemp><span>{{strength}}</span></ng-template>
          </ng-container>
          
          <div class="strength-icon ml-1 flex items-center place-content-center flex-nowrap group [&_span]:d-block [&_span]:mr-1 [&_span]:dark:bg-white" ngClass="{{strength}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        
      </div>

      <button class="border p-1 m-1 w-full uppercase border-lime-500 text-lime-400"
        (click)="generatePassword()">Generate</button>
    </div>
  </div>
</div>
